/* @author Mónica Miranda Mijangos 
  @author Eduardo Leónel Sánchez Velasco 
  Version: 1
  Fecha: 11/09/2023 */


body {
    max-width: 1280px;
    margin: auto;
}

h1 {
    color: rgb(32, 170, 147) !important;
}

.A {
    text-align: left;
}

table:not(.A) {
    text-align: center;
}