body {
    max-width: 1280px;
    margin: auto;
}

.title {
    background-color: rgb(54, 189, 189);
}

h1 {
    color: whitesmoke !important;
}

.A {
    text-align: left;
}

table:not(.A) {
    text-align: center;
}