/* @author Mónica Miranda Mijangos 
  @author Eduardo Leónel Sánchez Velasco 
  Version: 1
  Fecha: 02/10/2023 */

.card {
    max-width: 1280px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    color: rgb(32, 170, 147) !important;
}

table:not(.A) {
    text-align: center;
}

.A {
    text-align: left;
}

.botonDer {
    position: absolute;
    right: 10px;
    top: 15px;
}

.modal-content {
    padding: 0px 8px;
}

.modal-header {
    padding: 8px 16px !important;
}

.form-group {
    margin-bottom: 16px;
}

.form-button {
    margin-top: 32px;
    margin-bottom: 16px;

    text-align: center;
}

.btn-new {
    float: right;
    width: 200px;
}

.btn-form {
    width: 200px;
}

.modal-close-button {
    border: none;
    background-color: white;
}

.modal-close-button-x {
    color: #8181A5;
    font-size: 32px;
}

/* Color  */

.color-red {
    color: red;
}
