<!-- C A R D -->
<div class="card">
  <div class="card-body">
    <!-- T I T U L O - V I S T A -->
    <div class="title">
      <h1> Listado de Categorías </h1>
    </div>
    <!-- Button trigger modal -->

    <div class="botonDer">
      <button type="button" class="btn btn-primary btn-new" (click)="showModalForm()">
        <i class="ph ph-plus-circle icon-text-button"></i>
        Nueva categoria
      </button>
    </div>
    <!-- T A B L A - C A T E G O R I A S -->
    <table class="table table-hover">
      <caption>
        Categorías
      </caption>
      <thead>
        <tr class="table-primary">
          <th scope="col" class="A"> ID_Categoría </th>
          <th scope="col"> Código </th>
          <th scope="col"> Categoría </th>
          <th scope="col"> Estatus </th>
          <th scope="col"> Más </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of categories">
          <th scope="row" class="A"> 0{{ content.category_id }} </th>
          <td> {{ content.code }} </td>
          <td> {{ content.category }} </td>
          <td>
            <div class="td-status"
              [ngClass]="{'td-status-enable': content.status == 1, 'td-status-disable': content.status == 0}">
              {{ content.status == 0 ? "Inactivo": "Activo" }}
            </div>
          </td>
          <td>            
            <div class="dropdown">                          
              <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">              
                <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="updateCategory(content)">
                  <i class="ph ph-note-pencil icon-text-ul"></i>Editar
                </a>
                <a *ngIf="content.status == 0" class="dropdown-item enable-item"
                  (click)="enableCategory(content.category_id)">
                  <i class="ph ph-check-circle icon-text-ul"></i> Activar
                </a>
                <a *ngIf="content.status == 1" class="dropdown-item disable-item"
                  (click)="disableCategory(content.category_id)">
                  <i class="ph ph-x-circle icon-text-ul"></i> Desactivar
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Nueva Categoria </h5>
          <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">
            <span class="modal-close-button-x">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- form  -->

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- categoria  -->

            <div class="form-group">
              <label for="category">Categoria <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="category" id="category"
                placeholder="Nombre de la categoria..."
                [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">
              <div *ngIf="form.controls['category'].errors && submitted">
                <small class="color-red">Favor de ingresar una categoria válida</small>
              </div>
            </div>

            <!-- code  -->

            <div class="form-group">
              <label for="code">Código <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="code" id="code"
                placeholder="Código de la región..."
                [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
              <div *ngIf="form.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un código de categoria válido</small>
              </div>
            </div>

            <!-- button  -->

            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>